body{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.article{
    display: flex;
    flex-direction: column;
}
.button{
    margin-top: 5px;
}
.question{
    display:none;
}
.result{
    display: none;
}
